* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: #dde1e7;
}

.clock {
  background: #dde1e7;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 7px rgba(94, 104, 121, 0.288);
}
